[package]
name = "sokoban-rs"
version = "0.1.5"
edition = "2021"

authors = ["ShenMian <sms_school@outlook.com>"]
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "2.4"
nalgebra = "0.32"
itertools = "0.12.0"
siphasher = "1.0"
serde = { version = "1.0.195", features = ["derive"] }

bevy = "0.12"
leafwing-input-manager = "0.11"
benimator = "4.1"
bevy_editor_pls = "0.7"

rusqlite = { version = "0.30", features = ["bundled"] }
arboard = "3.3"                                         # 系统剪切板
image = "0.24"
winit = "0.28"                                          # 版本需要与 bevy 中使用的保持一致
toml = "0.8.8"

[profile.dev.package."*"]
opt-level = 3
